
# build output
dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.vscode
.npmrc